header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--orange);
  padding: var(--padding-global);
  h1,
  a,
  span {
    color: var(--white);
  }
  nav {
    a {
      padding-left: 20px;
      font-size: x-large;
    }
  }
  div {
    span {
      font-size: x-large;
    }
  }
}
